<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="container">
        <h1>Check the Weather</h1>
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null) {
            %><p class="highlight-text"><%= weather %></p>
       <% }%>

       <% if(error !== null) {
        %><p><%= error %></p>
   <% } %>
      </fieldset>
    </div>
  </body>
</html>